language: java
jdk:
- oraclejdk8
after_success:
- mvn clean cobertura:cobertura coveralls:cobertura
deploy:
  provider: heroku
  api_key:
    secure: PrNvjE0VRCXAcSaLCFQCWd8ObTeqLyVWvwJN1TvAj9XXSpPbnUweIBTn4p/WjpBIGCXf/D3+uryVt06Sc3olURiq+NTonOCSKKs0djm/qGgO9i4Y0ezOxLSSPN1ceEAur6GbYCxj2gc4fN5Cpx/fEmqWB3liEzI1dFyzdaUcHXg=
  app: matkakuvapalvelu
  on:
    repo: Matkakuvapalvelu/Matkakuvapalvelu
  strategy: api
