<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Header</title>
</head>
<body>
<div th:fragment="triplist">
    <section class="box features">
        <div class="row" th:if="${trips != null}">
            <div class="3u" th:each="trip: ${trips}">
                <section class="box feature">
                    <h3><a href="/trips.html" th:href="@{'/trips/'+${trip.id}}" th:text="${trip.description}">Trip to Russia</a></h3>
                    <a th:if="${!#lists.isEmpty(trip.posts)}" href="#" th:href="@{'/posts/'+${trip.posts[0].id}}">
                        <img id="user-image" th:attr="src=@{'/user_images/' + ${trip.posts[0].image.galleryThumbnailId}}"/>
                    </a>
                    <p>
                        Small description from the trip
                    </p>
                    <label th:text="${#calendars.format(trip.creationDate,'dd MMMM yyyy HH:mm')}">Today</label>
                    <div th:if="${show_edit == true}">
                        <a href="/trips.html" th:href="@{'/trips/'+${trip.id}+'/edit'}" th:text="Edit">Edit</a>                                                                   
                        <a href="#" th:text="Delete" onclick="document.getElementById('delete-form').submit();">Delete</a>
                        <form style="visibility: hidden" id ="delete-form" method="post" th:action="@{'/trips/' + ${trip.id} + '/delete'}"><input type="submit" value="Delete"/></form>
                    </div>                    
                </section>
            </div>
        </div>
    </section>
</div>
</body>
</html>