<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>New image</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.dropotron.min.js"></script>
        <script src="/js/skel.min.js"></script>
        <script src="/js/skel-layers.min.js"></script>
        <script src="/js/init.js"></script>
        <link rel="stylesheet" href="/css/skel.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/style-desktop.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css"/>
    </head>
    <body>


        <h2>Add new image:</h2>

        <form method="POST" th:action="@{/images}" enctype="multipart/form-data">
            <label for="file">File</label><input type="file" name="file" id="file" accept="image/*"/><br/>
            <input type="submit" value="Add!"/>
        </form>

        <br/>
        <h2>Existing images</h2>
        <div th:if="${images != null}">
            <div th:each="image: ${images}">
                <h3><span th:text="${image.original.name}">id</span></h3>
                <p>Image captured:  <span th:if="${image.captureDate != null}" th:text="${image.captureDate}">unknown</span></p>
                <p>Latitude:  <span th:if="${image.location != null}" th:text="${image.latitude}">unknown</span></p>
                <p>Longitude: <span th:if="${image.location != null}" th:text="${image.longitude}">unknown</span></p>

            </div>
        </div>
    </body>
</html>