<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css"/>
</head>
<body>
<div th:replace="fragments/header :: header">header</div>
<div>Message from server:</div>
<div th:text="${message}">Message</div>
<br/>
<div id="links"><a href="/trips.html" th:href="@{/trips}">Trips</a></div>
<div id="links"><a href="/image.html" th:href="@{/images}">Image testing</a></div>
<div id="links"><a href="/debugNotification.html" th:href="@{/notification/debug}">Notification testing</a></div>
<div id="links"><a href="/posts">Posts</a></div>
<div id="links"><a href="/profile.html" th:href="@{/profile}">Profile</a></div>

<div id="links"><a href="/signup.html" th:href="@{/signup}">Signup</a></div>


<br/>
<br/>
<br/>
<br/>

<div th:each="user : ${users}">
    <a href="#" th:href="@{'profile/' + ${user.id}}" th:text="${user.username}">user name</a>
</div>



</body>
</html>
