<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css"/>

</head>
<body>
<span th:replace="fragments/header :: header"><a href="#">header</a> <a href="#">links</a></span>

<div>List of notifications to user</div>
<div th:each="notification : ${user.receivedNotifications}">
    <a href="#" th:href="@{'notification/' + ${notification.id}}" th:text="${notification.notificationReason}">text</a>
</div>


</body>
</html>
