<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Posts</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
</head>
<body>
<div th:replace="fragments/header :: header">header</div>
<div>Post image</div><br/>
<a href="#" th:href="@{'/images/' + ${post.image.id} + '/original'}">
    <img th:attr="src=@{'/images/' + ${post.image.id} + '/postthumbnail'}"/>
</a>
<br/><div>Comment</div>

<div th:text="${post.imageText}"></div>
<br/>
<div>
    <div>Post associated with following trips: </div>
    <a href="#" th:each="trip : ${post.trips}" th:href="@{'/trips/' + ${trip.id}}" th:text="${trip.description}"></a>
</div>


</body>
</html>