<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <form method="POST" th:action="@{/signup}">

            <input type="text" name="username" placeholder="Username"/>
            <p>
                <div  th:if="${#fields.hasErrors('user.username')}" th:errors="*{user.username}">User name error</div>
            </p>

            <input type="password" name="password" placeholder="Password"/>
            <p>
                <div th:if="${#fields.hasErrors('user.password')}" th:errors="*{user.password}">Pw error here</div>
            </p>

            <input type="password" name="confirmpassword" placeholder="Confirm password"/>
            <p>
                <div th:if="${#fields.hasErrors('user')}" th:errors="*{user}">Confirm pw errors be here</div>
            </p>
            <input type="submit" value="sign up" />
        </form>
    </body>
</html>
