<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Trip</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
    </head>
    <body>
        <h2>
            <label th:if="${trip != null}" th:text="${trip.description}" >Edit trip</label>
            <label th:if="${trip == null}" >Add new trip</label>
        </h2> 
        <form method="POST" th:action="@{/trips}" >
            <label for="description">Trip description</label>
            <br/>            
            <input type="text" id="description" name="description" />
            <br/>
            <label for="description">Who can see my trip</label>
            <br/>
            <select id="visibility" th:field="*{visibilities}">          
                <option th:each="entry : ${visibilities.entrySet()}" th:value="${entry.key}" th:text="${entry.value}">Option 1</option>
            </select>
            <br/>
            <br/>
            <input th:if="${trip != null}" type="hidden" name="tripId" th:value="${trip.id}"></input>
            <input type="submit" value="Create new trip"/>
        </form>
        
        <br/>        
        <div th:if="${trips != null}">
            <h2>All trips</h2>
            <div th:each="trip: ${trips}">
                <a href="/trips.html" th:href="@{/trips/(${trip.id})}" th:text="${trip.description}">Trip to Russia</a>
                <label th:text="${trip.creationDate}">Today</label>
            </div>
        </div>
        
        <div id="links"><a href="/index.html" th:href="@{/index}">Front page</a></div>
    </body>
</html>