<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Trips</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.dropotron.min.js"></script>
        <script src="/js/skel.min.js"></script>
        <script src="/js/skel-layers.min.js"></script>
        <script src="/js/init.js"></script>
        <link rel="stylesheet" href="/css/skel.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/style-desktop.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css"/>
    </head>
    <body>
        <div th:replace="fragments/header :: header">header</div>
        
        <div id="main-wrapper">
            <div id="main" class="container">
                <div class="row">
                    <div class="12u">
                        <div class="content">
                            <article class="box page-content">
                                <header>
                                    <h2>Existing trips</h2>
                                    <p>Semper amet scelerisque metus faucibus morbi congue mattis</p>
                                </header>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="row 200%">
                    <div class="12u">        
                        <!-- Features -->
                        <section class="box features">  
                            <div class="row" th:if="${trips != null}">
                                <div class="3u" th:each="trip: ${trips}">
                                    <section class="box feature">
                                            <h3><a href="/trips.html" th:href="@{'/trips/'+${trip.id}}" th:text="${trip.description}">Trip to Russia</a></h3>                                            
                                                <a th:if="${!#lists.isEmpty(trip.posts)}" href="#" th:href="@{'/posts/'+${trip.posts[0].id}}">
                                                    <img id="user-image" th:attr="src=@{'/images/' + ${trip.posts[0].image.id} + '/gallerythumbnail'}"/>
                                                </a>
                                            <p>
                                                Small description from the trip
                                            </p>
                                            <p><label th:text="${trip.creationDate}">Today</label></p>
                                            <a href="/trips.html" th:href="@{'/trips/'+${trip.id}+'/edit'}" th:text="Edit">Trip to Russia</a>
                                    </section>
                                </div>
                            </div>
                        </section>                            
                        <h2 class="major"><span>Add new trip</span></h2>
                        <div>
                            <form method="POST" th:action="@{/trips}" >
                                <label for="description">Trip description</label>
                                <br/>            
                                <input type="text" id="description" name="description" />
                                <br/>
                                <label for="description">Who can see my trip</label>
                                <br/>
                                <select id="visibility" name="visibility">          
                                    <option th:each="visibility : ${visibilities}" th:value="${visibility}" 
                                            th:text="${#strings.capitalizeWords(#strings.toLowerCase(visibility))}">Option 1</option>
                                </select>
                                <br/>
                                <br/>
                                <input type="submit" value="Create new trip"/>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>       
        </div>    
    </body>
</html>