<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>View Trip</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
        <style type="text/css">
            html, body, #googleMap { height: 90%; width: 90%; margin: 0; padding: 0;};
        </style>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGBcJ-D045wfMa-cBIrfKARkx93_U98sU"></script>
        <script type="text/javascript" src="/js/googlemap.js"></script>
        <script type="text/javascript" th:inline="javascript">       
            window.onload = function(){
                // load map
                var tripMap;
                
                (function() {
                    var latLng = /*[[${startPoint}]]*/ 0;
                    tripMap = initialize(latLng[0], latLng[1]);
                })();
                                
                drawMarkers(tripMap, /*[[${coordinates}]]*/ 0);
                drawPolyLinePath(tripMap);
            };
        </script>
    </head>
    <body>
        <h2>
            <label th:if="${trip != null}" th:text="${trip.description}" >View trip</label>
        </h2> 
        <label id="visibilitydesc">Who can see my trip</label>
        <br/>
        <label id="visibility" th:text="${trip.visibility}">Trip visibility</label>
        <br/>
        <label id="creationdatedesc">Trip creation date</label>
        <br/>
        <label id="creationdate" th:text="${trip.creationDate}">Trip creation date</label>
        <br/>
        <input type="hidden" id="posts" name="posts" th:value="${posts}"></input>
        <div id="links"><a href="/newpost.html" th:href="@{/posts/new}">Add new post</a></div>
        <div id="links"><a href="/index.html" th:href="@{/index}">Front page</a></div>        
        <br/>
        <div id="googleMap"></div>        
    </body>
</html>